@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
  }
}

@layer base {
  h1 {
    @apply text-4xl;
  }
  h2 {
    @apply text-3xl;
  }
  h3 {
    @apply text-2xl;
  }
  h4 {
    @apply text-xl;
  }
  h5 {
    @apply text-lg;
  }
  h6 {
    @apply text-sm;
  }
}

body {
  color: rgb(var(--foreground-rgb));
}

@media (prefers-color-scheme: dark) {
  body {
    color: black;
  }
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.dark-section {
  background-color: black;
  color: white;
}
