@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
  }
}

body {
  color: rgb(var(--foreground-rgb));
}

@media (prefers-color-scheme: dark) {
  body {
    color: black;
  }
}

/* fonts */
.titleOne,
.titleTwo,
.plainText {
  font-family: "Suisse Int'l";
}
.titleOne {
  font-size: 6rem;
  line-height: 6.1rem;
  margin: 1rem 1rem;
}

.titleTwo {
  font-size: 3rem;
  line-height: 3.1rem;
  margin: 1rem 1rem;
}

.plainText {
  font-size: 1.5rem;
  line-height: 1.8rem;
  margin: 0.3rem 1%;
}

/* flex box relevant*/
.flex-container {
  display: flex;
  flex-wrap: wrap;
}

.dark-section {
  background-color: black;
  color: white;
}

/* place holder boxes*/
.placeholder-box {
  background: #5f35f7;
}

/* override carousel properties */
.carousel .slide img {
  max-height: 60rem; /* change this to whatever you want */
  width: auto;
}

/* for mobilephones */
@media (max-width: 599px) {
  .titleOne {
    font-size: 3rem;
    line-height: 3.1rem;
    margin: 1rem 1rem;
  }
}
