#sectionOneHeader {
  width: 100%;
  height: 20rem;
}

/* the text area on the top of this section */
.topTitle {
  max-width: 70%;
}
.topText {
  margin: 1rem;
}

.imageFill {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* the flex container and its items */
.twoBoxContainer {
  display: flex;
  justify-content: space-between;
}

.flexItem {
  max-width: 57rem;
  min-width: 31rem;
  height: 65rem;
  flex: 1 1 auto;
}

/* The place holder in the left */
.flexItem.left {
  margin: 2rem 3rem 2rem 0rem;
}

/* The place holder in the left */
.flexItem.right {
  margin: 2rem 0rem 2rem 3rem;
}

/* for tablets */
@media (min-width: 600px) and (max-width: 1199px) {
  .twoBoxContainer {
    flex-wrap: wrap;
    justify-content: space-evenly;
  }

  .flexItem.left,
  .flexItem.right {
    margin: 2rem;
  }
}

/* for mobilephones */
@media (max-width: 599px) {
  #sectionOneHeader {
    width: 100%;
    height: 10rem;
  }

  .topTitle {
    max-width: 100%;
  }

  .twoBoxContainer {
    flex-wrap: wrap;
    justify-content: space-evenly;
  }

  .flexItem.left,
  .flexItem.right {
    margin: 2rem;
  }
}
