#sectionTwoTextBox {
  width: 60%;
}

#sectionTwoTextBox .title {
  padding-left: 1rem;
  padding-right: 1rem;
}

/* the flex container holding flex boxes in a column */
.flexVertical {
  display: flex;
  flex-direction: column;
  flex: 0 1 auto;
  width: 30%;
}

.flexRow {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  flex: 0 1 auto;
}

/* the flex boxes on two sides */
.sideFlexItem {
  width: auto;
  height: auto;
  max-width: 35rem;
  min-width: 40%;
  margin: 1rem 1.5rem;
}

/* the flex container that wraps the middle item */
.middleWrap {
  display: flex;
  width: auto;
}

/* the flex box in the middle */
.middleFlexItem {
  width: auto;
  height: auto;
  max-width: 35rem;
  min-width: 25rem;
  margin: 1rem 1.5rem;
  flex: 0 1 auto;
}

.carouselImg {
  height: 30rem;
}
