#sectionTwoHeader {
  width: 100%;
  height: 7rem;
}

#sectionTwoWaist {
  width: 100%;
  height: 6rem;
}

#sectionTwoFooter {
  width: 100%;
  height: 11rem;
}

#sectionTwoTextBox {
  width: 60%;
}

#sectionTwoTextBox .title {
  padding-left: 1rem;
  padding-right: 1rem;
}

/* container for the text */
.textContainer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  max-width: 44%;
  margin: auto; /* make it center in parent block */
}

/* the flex container holding flex boxes in a column */
.flexVertical {
  display: flex;
  flex-direction: column;
  flex: 0 1 auto;
  width: 29%;
  max-width: 34rem;
  align-content: space-between;
}

.flexRow {
  display: flex;
  flex-direction: row;
  justify-items: center;
  align-items: center;
}

/* the flex boxes on two sides */
.flexItem {
  width: auto;
  height: auto;
  max-width: 32rem;
  margin: 0.2rem;
}

/* boxes on the two sides */
.flexItem.lower {
  margin-top: 0.9rem;
}

.flexItem.upper {
  margin-bottom: 0.9rem;
}

.carouselImg {
  height: 30rem;
}

/* for tablet window */
@media (min-width: 600px) and (max-width: 1199px) {
  .flexVertical {
    display: flex;
    flex-direction: column;
    flex: 0 1 auto;
    width: 35rem;
    align-items: center;
    justify-content: flex-end;
    margin: 1rem 1rem;
  }

  .textContainer {
    max-width: 80%;
  }

  .flexRow {
    justify-content: center;
    align-items: center;
  }

  .flexItem {
    max-width: 35rem;
    margin: 0.2rem;
    flex-shrink: 1;
  }

  /* small images on the left side */
  .flexItem.left {
    margin-top: 5%;
  }

  /* small images on the right side */
  .flexItem.rightTop {
    margin-top: 8%;
    margin-bottom: 2.8%;
  }
  .flexItem.rightMiddle {
    margin-top: 2.8%;
    margin-bottom: 2.8%;
  }
  .flexItem.rightBottom {
    margin-top: 2.8%;
    margin-bottom: 4%;
  }
}

/* for modilephone */
@media (max-width: 599px) {
  #sectionTwoHeader {
    width: 100%;
    height: 4rem;
  }

  #sectionTwoWaist {
    width: 100%;
    height: 3rem;
  }

  #sectionTwoFooter {
    width: 100%;
    height: 5rem;
  }

  .textContainer {
    max-width: 100%;
  }
}
