#sectionTwoTextBox {
  width: 60%;
}

#sectionTwoTextBox .title {
  padding-left: 1rem;
  padding-right: 1rem;
}

/* the flex container holding flex boxes in a column */
.flexVertical {
  display: flex;
  flex-direction: column;
  flex: 0 1 auto;
}

/* the flex boxes on two sides */
.sideFlexItem {
  width: 28%rem;
  height: 23rem;
  max-width: 35rem;
  min-width: 25rem;
  margin: 1rem 1.5rem;
}

/* the flex box in the middle */
.middleFlexItem {
  width: 28%rem;
  height: 48rem;
  max-width: 35rem;
  min-width: 25rem;
  margin: 1rem 1.5rem;
  flex: 0 1 auto;
}

.carouselImg {
  height: 30rem;
}
