#sectionFourHeader {
  width: 100%;
  height: 7rem;
}

#sectionFourFooter {
  width: 100%;
  height: 9rem;
}

.flexItem {
  width: 26rem;
  min-width: 17rem;
  height: 26rem;
  margin: 2rem;
}

.flexText {
  width: 28rem;
}

.flexItem,
.flexText {
  margin: 1.3rem;
  padding: 0.5rem;
}

.reverseFlex {
  display: flex;
  flex-wrap: wrap-reverse;
  justify-content: space-evenly;
}

/* for tablet window */
@media (min-width: 600px) and (max-width: 1199px) {
  #sectionFourHeader {
    width: 100%;
    height: 4rem;
  }

  #sectionFourFooter {
    width: 100%;
    height: 4rem;
  }
}

/* for modilephone */
@media (max-width: 599px) {
  #sectionFourHeader {
    width: 100%;
    height: 2rem;
  }

  #sectionFourFooter {
    width: 100%;
    height: 4rem;
  }

  .flexItem,
  .flexText {
    width: 100%;
    margin-left: 0rem;
    margin-right: 0rem;
  }
}
