.flexItem {
  width: 30rem;
  height: 30rem;
  padding: 2rem;
  margin: 2rem;
}

.flexText {
  width: 30rem;
  height: auto;
  padding: 2rem;
  margin: 2rem;
}

.reverseFlex {
  flex-wrap: wrap-reverse;
}
