.flexItem {
  width: 57rem;
  height: 30rem;
  margin: 3rem 3rem;
  flex: 0 1 auto;
}

.flexItem.darker {
  background: #4425b2;
}

/* text boxes in section 3 */
.flexTextTitle {
  width: 38rem;
  height: 10rem;
  margin: 1rem 1rem;
  align-self: stretch;
  flex-grow: 1;
}

.flexText {
  width: 38rem;
  height: 15rem;
  margin: 1rem 1rem;
  flex-grow: 1;
}

.lowerText {
  width: 38rem;
  height: 15rem;
  margin: 1rem 1rem;
  flex-grow: 1;
}

/* the overlap effect */
@media (min-width: 1224px) {
  .flexItem.darker {
    transform: translate(45rem, -15rem);
  }
}

/* the white line */
.whiteLine {
  width: 98%;
  margin: auto;
  height: 2px; /* Adjust the height as needed */
  background-color: white; /* Color of the white line */
}
