.flexItem {
  width: 49%;
  min-width: 43rem;
  height: 30rem;
  margin: 1rem 1rem;
  flex: 0 1 auto;
}

.flexItem.darker {
  background: #4425b2;
}

.moveLeftContainer {
  display: flex;
  justify-content: end;
}

.moveRightContainer {
  display: flex;
  padding-left: 3.5rem;
}
/* the flex container holding flex boxes in a column */
.flexVertical {
  display: flex;
  flex-direction: column;
  flex: 0 1 auto;
}

/* text boxes in section 3 */
.flexTextTitle {
  width: 38rem;
  height: auto;
  margin: 1rem 1rem;
  align-self: stretch;
  flex: 1 1 auto;
}

.flexText {
  width: 25rem;
  height: auto;
  margin: 1rem 1rem;
  flex: 1 1 auto;
}

/* the white line */
.whiteLine {
  width: 98%;
  margin: auto;
  height: 2px; /* Adjust the height as needed */
  background-color: white; /* Color of the white line */
}

/* the overlap effect for desktop and tablet devices */
@media (min-width: 1200px) {
  .moveLeftContainer {
    transform: translate(-8rem, -10rem);
  }

  .moveRightContainer {
    transform: translate(2px 2px);
  }
}
